body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}
select {
  background: #0f172a;
  color: white;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

/* MAIN */
.main-container {
  max-width: 900px;
  margin: auto;
  padding: 30px 20px;
}

/* TITLE */
.title {
  text-align: center;
  font-size: 42px;
  color: #6366f1;
  margin-bottom: 20px;
}

/* TOP BAR */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.greeting {
  font-size: 18px;
  color: #cbd5f5;
}

/* LOGOUT */
.logout {
  background: #ef4444;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

/* CARD */
.form-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* INPUT */
.form-card input,
.form-card select {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #0f172a;
  color: white;
}

/* DATE FIX */
input[type="date"] {
  color-scheme: dark;
}

/* BUTTON */
.form-card button {
  padding: 12px;
  background: linear-gradient(90deg, #6366f1, #8b5cf6);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

/* SEARCH */
.search-filter {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-filter input,
.search-filter select {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

/* STATS */
.stats {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.stats div {
  background: #1e293b;
  padding: 10px;
  border-radius: 8px;
}

/* TASK CARD */
.task-card {
  background: #1e293b;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

/* ACTION BUTTONS */
.actions {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.actions button {
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.actions button:nth-child(1) {
  background: #3b82f6;
}

.actions button:nth-child(2) {
  background: #22c55e;
}

.actions button:nth-child(3) {
  background: #ef4444;
}

/* PASSWORD */
.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 100%;
}

.eye {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  color: #cbd5f5;
}